<div class="content">
    <br>
<h3>Welcome, {{user.fname}} {{user.lname}}. You are the Data Entry Clerk!</h3>
<button onclick="location.href='/Dashboard/addMeals'" class="btn">Add a Meal</button>
<button onclick="location.href='/Dashboard/editMeals'" class="btn">Update a Meal</button>
<button onclick="location.href='/Dashboard/viewMeals'" class="btn">View All The Meals</button>


<button onclick="location.href='/Login'" class="btn">Log out</button>

</div>