<br><br><br>
<br><br><br>
<div class="content">

    <h2>Welcome to our store, {{user.fname}} {{user.lname}} !</h2>
    <h3>Enjoy our best food at affordable prices!</h3><br><br>
    <button onclick="location.href='/Login'" type="btn">Log out</button>
    
</div>

